.nutrition-navigator__filters-wrap {
  position: relative;
  z-index: 9999;
  margin-bottom: 15px;

  @include media-breakpoint-up(lg) {
    margin-bottom: 25px;
  }
}

.nutrition-navigator__filters-header-wrap {
  display: flex;
  grid-gap: 25px;
  flex-flow: column;
  padding: 30px;
  background: var(--nutrition-navigator-light-gray);
  box-shadow: 0 0 6px rgba(0, 0, 0, .16);
  color: var(--nutrition-navigator-dark-gray);

  @include media-breakpoint-up(lg) {
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px;
  }

  .nutrition-navigator__filters-wrap--open & {
    background: var(--nutrition-navigator-dark-gray);
    color: var(--nutrition-navigator-white);
  }
}

.nutrition-navigator__address-input-wrap {
  --input-search-field-icon-url: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='21' viewBox='0 0 20 21' fill='none'%3E%3Cpath d='M19.7319 17.6756L15.9418 13.8854C15.7707 13.7144 15.5388 13.6193 15.2955 13.6193H14.6759C15.7251 12.2774 16.3486 10.5895 16.3486 8.75338C16.3486 4.38542 12.8093 0.846191 8.44137 0.846191C4.07341 0.846191 0.53418 4.38542 0.53418 8.75338C0.53418 13.1213 4.07341 16.6606 8.44137 16.6606C10.2775 16.6606 11.9654 16.0371 13.3073 14.9879V15.6075C13.3073 15.8508 13.4024 16.0827 13.5734 16.2538L17.3636 20.0439C17.7209 20.4013 18.2987 20.4013 18.6523 20.0439L19.7281 18.9681C20.0855 18.6108 20.0855 18.0329 19.7319 17.6756ZM8.44137 13.6193C5.75368 13.6193 3.57541 11.4449 3.57541 8.75338C3.57541 6.0657 5.74988 3.88742 8.44137 3.88742C11.129 3.88742 13.3073 6.06189 13.3073 8.75338C13.3073 11.4411 11.1329 13.6193 8.44137 13.6193Z' fill='%23403c3b'/%3E%3C/svg%3E");

  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 13px;
    width: 13px;
    height: 14px;
    transform: translateY(-50%);
    background-image: var(--input-search-field-icon-url);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }

  @include media-breakpoint-up(lg) {
    min-width: 300px;
  }

  input {
    width: 100%;
  }

  .nutrition-navigator__filters-wrap--open & {
    --input-search-field-icon-url: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='21' viewBox='0 0 20 21' fill='none'%3E%3Cpath d='M19.7319 17.6756L15.9418 13.8854C15.7707 13.7144 15.5388 13.6193 15.2955 13.6193H14.6759C15.7251 12.2774 16.3486 10.5895 16.3486 8.75338C16.3486 4.38542 12.8093 0.846191 8.44137 0.846191C4.07341 0.846191 0.53418 4.38542 0.53418 8.75338C0.53418 13.1213 4.07341 16.6606 8.44137 16.6606C10.2775 16.6606 11.9654 16.0371 13.3073 14.9879V15.6075C13.3073 15.8508 13.4024 16.0827 13.5734 16.2538L17.3636 20.0439C17.7209 20.4013 18.2987 20.4013 18.6523 20.0439L19.7281 18.9681C20.0855 18.6108 20.0855 18.0329 19.7319 17.6756ZM8.44137 13.6193C5.75368 13.6193 3.57541 11.4449 3.57541 8.75338C3.57541 6.0657 5.74988 3.88742 8.44137 3.88742C11.129 3.88742 13.3073 6.06189 13.3073 8.75338C13.3073 11.4411 11.1329 13.6193 8.44137 13.6193Z' fill='%23fff'/%3E%3C/svg%3E");
  }
}

.nutrition-navigator__filters-toggle-button {
  @include app-scope-css-properties() {
    --button-before-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='17' viewBox='0 0 20 17' fill='none'%3E%3Cpath d='M1.04785 2.85693L18.3623 2.85694' stroke='%23403C3B' stroke-width='1.5' stroke-linecap='round'/%3E%3Ccircle cx='5.00781' cy='2.58301' r='1.75' fill='white' stroke='%23403C3B' stroke-width='1.5'/%3E%3Cpath d='M1.04785 14.0029L18.3623 14.0029' stroke='%23403C3B' stroke-width='1.5' stroke-linecap='round'/%3E%3Ccircle cx='5.00781' cy='13.729' r='1.75' fill='white' stroke='%23403C3B' stroke-width='1.5'/%3E%3Cpath d='M1.04785 8.43018L18.3623 8.43018' stroke='%23403C3B' stroke-width='1.5' stroke-linecap='round'/%3E%3Ccircle cx='14.5547' cy='8.15625' r='1.75' fill='white' stroke='%23403C3B' stroke-width='1.5'/%3E%3C/svg%3E");
    --button-after-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='9' viewBox='0 0 16 9' fill='none'%3E%3Cpath d='M1.93871 0.753418H14.5022C15.3713 0.753418 15.8059 1.80322 15.1907 2.41846L8.91137 8.70264C8.53051 9.0835 7.91039 9.0835 7.52953 8.70264L1.25023 2.41846C0.635 1.80322 1.06957 0.753418 1.93871 0.753418Z' fill='%23403C3B'/%3E%3C/svg%3E");

    display: inline-flex;
    position: relative;
    grid-gap: 10px;
    flex-flow: row-reverse nowrap;
    align-items: center;
    padding: 0;
    padding-right: 25px;
    border: 0;
    background: none;
    color: var(--nutrition-navigator-dark-gray);
    font-family: var(--nutrition-navigator-heading-font);
    font-size: 1.2em;
    font-weight: bold;
    text-transform: none;

    @include media-breakpoint-down(md) {
      max-width: 200px;
      margin-right: auto;
      margin-left: auto;
    }

    @include media-breakpoint-up(lg) {
      font-family: var(--nutrition-navigator-body-font);
      font-size: var(--nutrition-navigator-body-font-size);
      font-weight: $font-weight-bold;
      letter-spacing: 0;
      text-transform: uppercase;

      &::after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 50%;
        right: 0;
        width: 15px;
        height: 10px;
        transform: translateY(-50%);
        background-image: var(--button-after-image);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
      }
    }

    &::before {
      content: "";
      display: inline-block;
      width: 15px;
      height: 15px;
      background-image: var(--button-before-image);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
    }

  }

  .nutrition-navigator__filters-wrap--open & {
    @include app-scope-css-properties() {
      @include media-breakpoint-up(lg) {
        --button-before-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='17' viewBox='0 0 20 17' fill='none'%3E%3Cpath d='M1.54785 2.89746L18.8623 2.89746' stroke='white' stroke-width='1.5' stroke-linecap='round'/%3E%3Ccircle cx='5.50781' cy='2.62354' r='1.75' fill='%23101D3D' stroke='white' stroke-width='1.5'/%3E%3Cpath d='M1.54785 14.0435L18.8623 14.0435' stroke='white' stroke-width='1.5' stroke-linecap='round'/%3E%3Ccircle cx='5.50781' cy='13.7695' r='1.75' fill='%23101D3D' stroke='white' stroke-width='1.5'/%3E%3Cpath d='M1.54785 8.4707L18.8623 8.4707' stroke='white' stroke-width='1.5' stroke-linecap='round'/%3E%3Ccircle cx='15.0547' cy='8.19678' r='1.75' fill='%23101D3D' stroke='white' stroke-width='1.5'/%3E%3C/svg%3E");
        --button-after-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='9' viewBox='0 0 16 9' fill='none'%3E%3Cpath d='M14.2493 8.81396L1.6858 8.81396C0.81666 8.81396 0.382089 7.76416 0.997323 7.14893L7.27662 0.864746C7.65748 0.483886 8.2776 0.483886 8.65846 0.864746L14.9378 7.14893C15.553 7.76416 15.1184 8.81396 14.2493 8.81396Z' fill='white'/%3E%3C/svg%3E");

        color: var(--nutrition-navigator-white);
      }
    }
  }
}

.nutrition-navigator__text-field {
  &--filters-open {
    &,
    #nutrition-navigator & {
      color: var(--nutrition-navigator-white);

      &::placeholder {
        transition: all .25s ease-in-out;
        color: var(--nutrition-navigator-white);
      }
    }
  }
}

.nutrition-navigator__filters-reset-submit-button-group {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr;
  text-align: center;

  @include media-breakpoint-up(lg) {
    display: flex;
    grid-gap: 18px;
    flex-flow: row nowrap;
    flex-shrink: 0;
  }
}

.nutrition-navigator__filters-button-grid-body-wrap {
  margin-right: -30px;
  margin-left: -30px;
  text-align: center;

  @include media-breakpoint-up(lg) {
    margin: 0;
    padding-top: 0;
    background: none;
    line-height: 1;
  }

  &--open {
    padding-top: 25px;
    background: var(--nutrition-navigator-white);
    color: var(--nutrition-navigator-dark-gray);

    @include media-breakpoint-up(lg) {
      padding-top: 0;
      background: none;
      color: unset;
    }
  }
}

.nutrition-navigator__filters-body-wrap {
  z-index: 2;
  padding: 35px 30px;
  background: var(--nutrition-navigator-white);
  color: var(--nutrition-navigator-dark-gray);
  text-align: left;

  @include media-breakpoint-up(md) {
    padding: 40px;
  }

  @include media-breakpoint-up(lg) {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: 0 0 6px rgba(0, 0, 0, .16);
  }
}

.nutrition-navigator__regions-body-wrap {
  display: grid;
  grid-gap: 20px;
  grid-template-columns:1fr;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: .2px solid var(--nutrition-navigator-dark-gray);

  h2 {
    margin: 0;

    @include media-breakpoint-down(md) {
      --nutrition-navigator-heading-h2-font-size: var(--nutrition-navigator-heading-h3-font-size);
      --nutrition-navigator-heading-h2-line-height: var(--nutrition-navigator-heading-h3-line-height);
    }
  }

  @include media-breakpoint-up(lg) {
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;

    > :last-child {
      grid-column: span 2;
    }
  }
}

.nutrition-navigator__regions {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  max-width: 100%;
  font-weight: 700;

  @include media-breakpoint-up(lg) {
    grid-column-gap: 45px;
    grid-template-columns: 1fr 1fr;

    > li {
      grid-gap: 30px;
      justify-content: normal;
    }
  }
}

.nutrition-navigator__program-types-body-wrap {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;

  @include media-breakpoint-up(lg) {
    display: flex;
    grid-gap: 30px;
    padding-bottom: 20px;

    > :last-child {
      grid-column: span 2;
    }
  }

  h2 {
    margin: 0;

    @include media-breakpoint-down(md) {
      --nutrition-navigator-heading-h2-font-size: var(--nutrition-navigator-heading-h3-font-size);
      --nutrition-navigator-heading-h2-line-height: var(--nutrition-navigator-heading-h3-line-height);
    }

    @include media-breakpoint-up(lg) {
      min-width: 250px;
    }
  }
}

.nutrition-navigator__program-types {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  max-width: 100%;
  font-weight: 700;

  @include media-breakpoint-up(md) {
    grid-gap: 20px;
  }

  @include media-breakpoint-up(lg) {
    grid-gap: 10px 25px;
    grid-template-columns: 1fr 1fr;
  }
}

.nutrition-navigator__filter-details {
  summary {
    display: flex;
    grid-gap: 7px;
    list-style: none;
    cursor: pointer;

    &::before {
      content: "";
      display: block;
      padding: 5px;
      background-image: url("data:image/svg+xml,%3Csvg width='9' height='10' viewBox='0 0 9 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.07422 4.35321C8.74089 4.73811 8.74089 5.70036 8.07422 6.08526L2.07422 9.54936C1.40755 9.93426 0.574219 9.45314 0.574219 8.68334V1.75514C0.574219 0.985337 1.40755 0.504211 2.07422 0.889111L8.07422 4.35321Z' fill='%23F27024'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
    }

    @include media-breakpoint-up(lg) {
      margin-bottom: 20px;
    }

    + * {
      margin-top: 10px;
    }
  }

  h5 {
    margin: 0;
    padding-bottom: 0;
    text-transform: uppercase !important; // stylelint-disable-line declaration-no-important
  }
}

.nutrition-navigator__sub-filters {
  display: flex;
  grid-gap: 20px;
  flex-flow: column;
  margin-top: 30px;
  padding-top: 30px;
  border-top: .2px solid var(--nutrition-navigator-dark-gray);

  > h2 {
    margin: 0;
  }
}

.nutrition-navigator__filters-grid {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(min(30ch, 100%), 1fr));

  @include media-breakpoint-up(md) {
    grid-gap: 30px 15px;
  }

  @include media-breakpoint-up(lg) {
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 10px;
  }
}

.nutrition-navigator__organization-name-search-field-wrap {
  position: relative;

  input[type="text"] {
    width: 100%;

    #nutrition-navigator & {
      padding-right: 20px;
      padding-left: 20px;
    }
  }

  &::after {
    content: none;
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    width: 20px;
    height: 10px;
    transform: translateY(-50%);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='11' viewBox='0 0 21 11' fill='none'%3E%3Cpath d='M14.5152 3.26706H1.03571C0.739866 3.26706 0.5 3.51105 0.5 3.81198V6.35497C0.5 6.6559 0.739866 6.89989 1.03571 6.89989H14.5152V8.99145C14.5152 9.96241 15.6693 10.4487 16.3443 9.76211L20.1862 5.85413C20.6046 5.4285 20.6046 4.73845 20.1862 4.31286L16.3443 0.404885C15.6693 -0.281675 14.5152 0.20458 14.5152 1.17555V3.26706Z' fill='%23403C3B'/%3E%3C/svg%3E");
  }
}

.nutrition-navigator__filters-footer {
  margin-top: 25px;

  button {
    width: 100%;

    @include media-breakpoint-up(lg) {
      width: auto;
    }
  }

  @include media-breakpoint-up(md) {
    display: none;
    margin: 0;
  }


  @include media-breakpoint-up(lg) {
    display: block;
    margin-top: 57px;
    text-align: right;
  }
}

.nutrition-navigator__filter-column {
  display: flex;
  grid-gap: 20px;
  flex-flow: column;

  @include media-breakpoint-up(lg) {
    grid-gap: 40px;
  }
}
