@use "mixins" as *;

.nutrition-navigator__checkbox-items-wrap {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
  list-style: none;

  @include media-breakpoint-up(md) {
    max-width: max-content;
  }

  @include media-breakpoint-up(lg) {
    grid-gap: 5px;
  }

  @include app-scope-css-properties() {
    padding: 0;

    @include media-breakpoint-up(md) {
      padding-left: 15px;
    }

    @include media-breakpoint-up(lg) {
      padding-left: 16px;
    }
  }
}

.nutrition-navigator__checkbox-items-wrap--languages {
  @include media-breakpoint-up(md) {
    min-width: 80%;
  }
}

.nutrition-navigator__checkbox-wrap {
  display: flex;
  grid-gap: 10px;
  align-items: center;
  justify-content: space-between;

  @include app-scope-css-properties() {
    margin-bottom: 0;
    padding: 0;
  }

  @include media-breakpoint-up(md) {
    grid-gap: 20px;
  }
}

.nutrition-navigator__checkbox-label {
  display: inline-flex;
  grid-gap: 10px;
  align-items: center;
  text-align: left;
}

.nutrition-navigator__checkbox-label-icon {
  width: 21px;

  @include media-breakpoint-up(lg) {
    width: 30px;
  }
}

.nutrition-navigator__checkbox {
  @include app-scope-css-properties() {
    padding: 7px;
    transition: background-color 0.15s ease-in-out;
    border: 1px solid var(--nutrition-navigator-dark-gray);
    border-radius: 5px;
    appearance: none;

    &:checked {
      background-color: var(--nutrition-navigator-dark-gray);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.nutrition-navigator__text-field {
  &,
  #nutrition-navigator & {
    position: relative;
    padding: 10px 30px;
    transition: all 0.25s ease-in-out;
    border: 0.5px solid;
    border-radius: 5px;
    background: transparent;
    font-family: var(--nutrition-navigator-body-font);
    font-size: var(--nutrition-navigator-body-font-size);

    &::placeholder {
      opacity: 1;
      color: var(--nutrition-navigator-dark-gray);
      font-family: var(--nutrition-navigator-body-font);
      font-weight: bold;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    }
  }
}
