.nutrition-navigator__marker-cluster-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background: var(--nutrition-navigator-orange);
  color: var(--nutrition-navigator-white);
  font-family: var(--nutrition-navigator-body-font);
  font-weight: bold;
}

.nutrition-navigator__marker-content-wrap {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: 12px 0;
  font-weight: 800;

  @include media-breakpoint-up(lg) {
    grid-gap: 32px;
    padding: 20px 20px 10px;
    font-size: 14px;
  }

  h4,
  p {
    margin: 0;
  }
}

.nutrition-navigator__marker-content-column {
  display: flex;
  grid-gap: 15px;
  flex-flow: column;
  justify-content: space-between;

  @include media-breakpoint-up(lg) {
    grid-gap: 25px;
  }
}

.nutrition-navigator__marker-headline-wrap{
  display: flex;
  grid-gap: 10px;
  flex-flow: column;
}

.nutrition-navigator__marker-program-types {
  display: flex;
  grid-gap: 10px;
  flex-flow: column;
  flex-shrink: 0;

  @include media-breakpoint-up(lg) {
    grid-gap: 15px;
  }
}

.nutrition-navigator__marker-program-type {
  display: flex;
  grid-gap: 10px;
  flex-flow: row nowrap;
  align-items: center;
  font-weight: 400;

  @include media-breakpoint-up(lg) {
    grid-gap: 16px;
    font-size: 16px;
  }
}

.nutrition-navigator__marker-program-icon {
  flex-shrink: 0;
  max-width: 28px;

  @include media-breakpoint-up(lg) {
    max-width: 35px;
  }

  img {
    width: 100%;
  }
}

.nutrition-navigator__marker-link-wrap {
  flex-shrink: 0;
}

.leaflet-popup-content {
  min-width: max-content;

  @include media-breakpoint-up(lg) {
    min-width: 480px;
  }
}
