@use 'mixins' as *;

.nutrition-navigator__marker-cluster-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background: var(--nutrition-navigator-orange);
  color: var(--nutrition-navigator-white);
  font-family: var(--nutrition-navigator-body-font);
  font-weight: bold;
}

.nutrition-navigator__marker-content-wrap {
  display: flex;
  grid-gap: 25px;
  flex-flow: column;
  padding: 20px 12px 12px;
  font-weight: 800;

  @include media-breakpoint-up(lg) {
    grid-gap: 45px;
    padding: 20px 10px 10px;
    font-size: 14px;
  }

  h3,
  p {
    margin: 0;
  }
}

.nutrition-navigator__marker-content-column {
  display: flex;
  grid-gap: 15px;
  flex-flow: column;
  justify-content: space-between;

  @include media-breakpoint-up(lg) {
    grid-gap: 25px;
    padding: 20px 20px 0;
  }
}

.nutrition-navigator__marker-headline-wrap {
  display: flex;
  grid-gap: 10px;
  flex-flow: column;
}

.nutrition-navigator__marker-not-open-to-public {
  display: flex;
  gap: 8px;
  align-items: center;
  color: var(--nutrition-navigator-red);
  font-family: var(--nutrition-navigator-body-font);
  font-style: italic;
  font-weight: 800;
}

.nutrition-navigator__marker-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.nutrition-navigator__marker-program-types {
  display: flex;
  grid-gap: 10px;
  flex-flow: column;
  flex-shrink: 0;

  @include media-breakpoint-up(lg) {
    grid-gap: 15px;
  }
}

.nutrition-navigator__marker-program-type {
  display: flex;
  grid-gap: 10px;
  flex-flow: row nowrap;
  align-items: center;
  font-weight: 400;

  @include media-breakpoint-up(lg) {
    grid-gap: 11.5px;
    font-size: 16px;
  }
}

.nutrition-navigator__marker-program-icon {
  flex-shrink: 0;
  max-width: 28px;

  @include media-breakpoint-up(lg) {
    max-width: 35px;
  }

  img {
    width: 100%;
  }
}

.nutrition-navigator__marker-link-wrap {
  flex-shrink: 0;

  > a {
    width: 100%;
  }
}

///////////////
// Leaflet overrides
///////////////
.leaflet-container {
  a {
    &.leaflet-popup-close-button {
      @include app-scope-css-properties() {
        color: var(--nutrition-navigator-dark-gray);
        text-decoration: none;

        @include media-breakpoint-up(lg) {
          top: 5px;
          right: 5px;
          font-size: 25px;
        }
      }
    }
  }
}

.leaflet-bar {
  a {
    @include app-scope-css-properties() {
      color: var(--nutrition-navigator-dark-gray);
      text-decoration: none;
    }
  }
}

.leaflet-popup-content {
  min-width: max-content;
  margin: 0;

  @include media-breakpoint-up(lg) {
    min-width: 480px;
  }
}
