#nutrition-navigator {
  font-family: var(--nutrition-navigator-body-font);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.nutrition-navigator__heading--h1 {
  font-family: var(--nutrition-navigator-heading-h1-font);
  font-size: var(--nutrition-navigator-heading-h1-font-size);
  font-weight: var(--nutrition-navigator-heading-h1-font-weight);
  letter-spacing: var(--nutrition-navigator-heading-h1-letter-spacing);
  line-height: var(--nutrition-navigator-heading-h1-line-height);
}

.nutrition-navigator__heading--h2 {
  font-family: var(--nutrition-navigator-heading-h2-font);
  font-size: var(--nutrition-navigator-heading-h2-font-size);
  font-weight: var(--nutrition-navigator-heading-h2-font-weight);
  letter-spacing: var(--nutrition-navigator-heading-h2-letter-spacing);
  line-height: var(--nutrition-navigator-heading-h2-line-height);
  text-transform: none;
}

.nutrition-navigator__heading--h3 {
  font-family: var(--nutrition-navigator-heading-h3-font);
  font-size: var(--nutrition-navigator-heading-h3-font-size);
  font-weight: var(--nutrition-navigator-heading-h3-font-weight);
  letter-spacing: var(--nutrition-navigator-heading-h3-letter-spacing);
  line-height: var(--nutrition-navigator-heading-h3-line-height);
}

.nutrition-navigator__heading--h4 {
  font-family: var(--nutrition-navigator-heading-h4-font);
  font-size: var(--nutrition-navigator-heading-h4-font-size);
  font-weight: var(--nutrition-navigator-heading-h4-font-weight);
  letter-spacing: var(--nutrition-navigator-heading-h4-letter-spacing);
  line-height: var(--nutrition-navigator-heading-h4-line-height);
}

.nutrition-navigator__heading--h5 {
  font-family: var(--nutrition-navigator-heading-h5-font);
  font-size: var(--nutrition-navigator-heading-h5-font-size);
  font-weight: var(--nutrition-navigator-heading-h5-font-weight);
  letter-spacing: var(--nutrition-navigator-heading-h5-letter-spacing);
  line-height: var(--nutrition-navigator-heading-h5-line-height);
  text-transform: uppercase;
}

.nutrition-navigator__heading--h6 {
  font-family: var(--nutrition-navigator-heading-h6-font);
  font-size: var(--nutrition-navigator-heading-h6-font-size);
  font-weight: var(--nutrition-navigator-heading-h6-font-weight);
  letter-spacing: var(--nutrition-navigator-heading-h6-letter-spacing);
  line-height: var(--nutrition-navigator-heading-h6-line-height);
}
