.nutrition-navigator__hide {
  display: none;
}

.nutrition-navigator__show {
  display: inherit;
}

.nutrition-navigator__helper-text {
  position: absolute;
  width: 0;
  height: 0;
  font-size: 0;
}

.nutrition-navigator__button {
  @include app-scope-css-properties() {
    display: inline-block;
    min-width: 120px;
    padding: 10px 30px;
    transition: all .25s ease-in-out;
    border: 1px solid var(--nutrition-navigator-dark-gray);
    border-radius: 15px;
    background: var(--nutrition-navigator-dark-gray);
    color: var(--nutrition-navigator-white);
    font-family: var(--nutrition-navigator-heading-font);
    font-weight: $font-weight-bold;
    letter-spacing: .51px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    cursor: pointer;

    // Override for React leaflet
    .leaflet-container & {
      color: var(--nutrition-navigator-white);
    }

    &:focus {
      border-color: var(--nutrition-navigator-dark-gray);
      background: transparent;
      color: var(--nutrition-navigator-dark-gray);
    }

    @media (hover: hover) {
      &:hover {
        border-color: var(--nutrition-navigator-dark-gray);
        background: transparent;
        color: var(--nutrition-navigator-dark-gray);
      }
    }

    @include media-breakpoint-up(lg) {
      font-size: 17px;
    }
  }

  &--outline {
    @include app-scope-css-properties() {
      border-color: var(--nutrition-navigator-dark-gray);
      background: none;
      color: var(--nutrition-navigator-dark-gray);

      &:focus {
        border-color: var(--nutrition-navigator-dark-gray);
        background: var(--nutrition-navigator-dark-gray);
        color: var(--nutrition-navigator-white);
      }

      @media (hover: hover) {
        &:hover {
          border-color: var(--nutrition-navigator-dark-gray);
          background: var(--nutrition-navigator-dark-gray);
          color: var(--nutrition-navigator-white);
        }
      }
    }
  }

  &--green {
    @include app-scope-css-properties() {
      border-color: var(--nutrition-navigator-dark-gray);
      background: var(--nutrition-navigator-green);
      color: var(--nutrition-navigator-dark-gray);

      &:focus {
        border-color: var(--nutrition-navigator-dark-gray);
        background: var(--nutrition-navigator-white);
        color: var(--nutrition-navigator-dark-gray);
      }

      @media (hover: hover) {
        &:hover {
          border-color: var(--nutrition-navigator-dark-gray);
          background: var(--nutrition-navigator-white);
          color: var(--nutrition-navigator-dark-gray);
        }
      }
    }
  }

  &--white {
    @include app-scope-css-properties() {
      border-color: var(--nutrition-navigator-dark-gray);
      background: var(--nutrition-navigator-white);
      color: var(--nutrition-navigator-dark-gray);

      &:focus {
        border-color: var(--nutrition-navigator-dark-gray);
        background: var(--nutrition-navigator-green);
        color: var(--nutrition-navigator-dark-gray);
      }

      @media (hover: hover) {
        &:hover {
          border-color: var(--nutrition-navigator-dark-gray);
          background: var(--nutrition-navigator-green);
          color: var(--nutrition-navigator-dark-gray);
        }
      }
    }
  }

  &--purple {
    @include app-scope-css-properties() {
      border-color: var(--nutrition-navigator-purple);
      background: var(--nutrition-navigator-purple);
      color: var(--nutrition-navigator-white);

      &:focus {
        border-color: color-mix(in srgb, var(--nutrition-navigator-purple) 95%, #000);
        background: color-mix(in srgb, var(--nutrition-navigator-purple) 95%, #000);
        color: var(--nutrition-navigator-white);
      }

      @media (hover: hover) {
        &:hover {
          border-color: color-mix(in srgb, var(--nutrition-navigator-purple) 95%, #000);
          background: color-mix(in srgb, var(--nutrition-navigator-purple) 95%, #000);
          color: var(--nutrition-navigator-white);
        }
      }
    }
  }
}

.nutrition-navigator__text-lowercase {
  text-transform: lowercase;
}

.nutrition-navigator__text-capital-case {
  text-transform: capitalize;
}
